body {
    background-image: url("../../images/backgrounds/BattleBackground.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-size: 100% 100%;
    margin: 0;
}

.left,
.right {
    width: 50%;
    float: left
}

.pokeball {
    width: 30%;
}

/*------------POKEMON CARD--------------*/
.card {
    width: 330px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    /*position: absolute;*/
    margin: 0 auto;
}

#card1 {
    transform: translateY(80px);
}

#card2 {
    transform: translateY(-30px);
}

.card_parentdiv {
    width: 70%;
    margin: auto;
}

.name {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.pokeImg {
    height: 180px;
}

.hpBar {
    height: 20px;
    display: flex;
}

.moveSet {
    height: 200px;
}

.column_move {
    float: left;
    width: 50%;
}

.pokeImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centering y-axis */
    align-items: center;
    /* Centering x-axis */
}


.MoveBox1,
.MoveBox2 {
    width: 140px;
    margin: 12.5px;
    border-radius: 8px;
    justify-content: center;
    text-align: center;

}

.MoveSet1,
.MoveSet2 {
    height: 40px;
}

/*-------------POKEBALL----------------*/
.pokeball_img {
    padding: 19px;
    background: rgba(0, 0, 0, 0.0);
    border: 0px;
}

.pokeball_team1 {
    margin-left: 85px;
}

.first_pokeball {
    padding-top: 0px;
}

/*----------    GIF    ----------*/
#versusGif {
    position: absolute;
    top: 23%;
    left: 33%;
}

/*----------CARD'S BUTTONS----------*/

#mic1,
#mic2 {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    transform: translateY(6px);
    border-radius: 5px;
}

#random1,
#random2 {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

/*--------DROPDOWN MENU--------*/


/*.menu:hover,
#menubar:focus + .menu {
    display: block;
}*/

.menu {
    display: none;
    height: 180px;
    width: 330px;
    padding: 0;
    text-align: center;
}

ul {
    padding: 0;
}

#menubar1,
#menubar2 {
    margin-top: 10px;
    margin-left: 20px;
}

/*---------HP BAR-----------*/
.HP {
    margin-left: 20px;
}

.progress {
    position: relative;
    width: 200px;
    height: 20px;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 20px;
}

.progress__fill {
    width: 0%;
    height: 100%;
    background: #009579;
    transition: all 0.2s;
}

.progress__text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font: bold 14px "Quicksand", sans-serif;
    color: black;
}

/*---------OTHER-----------*/

#battle {
    border: none;
    padding: 20px;
    bottom: 30px;
    position: relative;
}

#battle img {
    padding: none;
}

.dialogueBox {
    max-width: 300px;
    height: 60px;
    max-height: 800px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 41.5%;
    border: solid 2px #000;
    text-align: center;
    line-height: 20px;
}

@media (max-width: 1599px) {
    .dialogueBox {
        top: 75%;
        left: 55%;
    }
}

#wrapper {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

/*---------------- WIN WINDOW -------------------*/
#win {
    font-family: 'Press Start 2P', cursive;
    margin-top: 300px;
    color: crimson;
    text-align: center;
    font-size: 80px;
}