body {
    background-image: url("../../images/backgrounds/prep_background.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
}

#logo{
    font-family: 'Press Start 2P', cursive;
    font-size: 100px;
    color: yellow;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0 0 30px #0000FF, 0 0 30px #0000FF;
}


.row{
    padding: 10%, 30%, 10%, 10%;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.column {
    float: left;
}
  
.left {
    width: 30%;
}
  
.right {
    width: 70%;
}

/*F93C3C
80% opacità
4998E0
80% opacità
1- rosso
2- blu*/

/*-----------------LEFT------------------------*/

.navigate > .button {
    border: none;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    cursor: pointer;
    background-color: #4998E0;
    opacity: 80%;
    border-radius: 5%;
    width: 225px;
    height: 90px;
    text-align: center;
    position: relative;
    font-family: 'Bangers', cursive;
    font-size: 150%;
}

.left :first-child(){
    margin-top: 50px;
}

.navigate{
    margin: 40px;
}

.button > img{
    /* left: 50px; */
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.button > span{
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translateY(-50%);
}


.button > img, .button > span{
    display: inline-block;
    vertical-align: middle;
}

#fight{
    font-size: 200%;
}

/*---------------------RIGHT------------------------*/
.choose{
    background: #F93C3C;
    opacity: 80%;
    height: 560px;
    margin: 2.8% 10% 5% 0%;
    border-radius: 30px;
}

.first-column, .second-column, .third-column, .fourth-column{
    width: 25%;
    float: left;
}

.cardpokemon{
    margin: 20px;
    background-color: white;
    width: 175px;
    height: 250px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction:column
}

.cardpokemon > p{
    font-size: 150%;
}

.input{
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.input > input{
    height: 40px;
    text-align: center;
    border: none;
}

.choose-button > button{
    border: none;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    position: relative;
    margin-top: 40px;
    width: 169px;
    height: 40px;
}

#next > button{
    border-radius: 10px;
    width: 200px;
    height: 80px;
    background-color: #DED47A;
}
/*.background{
    width: 100%;
    position: absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}
.zuckemonLogo{
    position: absolute;
    width: 40%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 14%;
}
.teamLogo{
    position: absolute;
    width: 20%;
    transform: translate(-50%, -50%);
    left: 63%;
    top: 23.5%;
}

---- PLAY ----

.divPlay{
    position: absolute;
    top: 80%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
}
.playButton{
    background-color: transparent;
    border: #cccccc;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all;
    transition-duration: 1s;
}
.playButton:active {
    transform: scale(0.96);
}

---- HELP ----

.divHelp{
    position: absolute;
    width: 10%;
    left: 70%;
    top: 79.7%;
    transform: translate(-50%, -50%);
}
.helpButton{
    padding: 10%;
    cursor: pointer;
    background-color: transparent;
    border: #cccccc;
    transition: 0.2s all;
    height: 100%;
    width: 100%;
}
.helpButton:active {
    transform: scale(0.96);
}

---- RULES ----

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}

.modal-container{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background-image: url("/images/writings/rules/rules_1.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    margin: auto;
    padding: 20px;
    width: 60vw;
    height: 70vw;
    -webkit-filter: drop-shadow(15px 25px 18px #222);

}

.modal-header .closeButton{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 26%;
    right: 4%;
    cursor: pointer;
    border: 0.2vw solid black;
    outline: none;
    background: none;
    font-size: 1.2vw;
    color: red;
    font-weight: bold;
    border-radius: 20%;

}

.closeButton:active {
    transform: scale(0.96);
}

.pageButton{
    border: 0.2vw solid black;
    outline: none;
    background: none;
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s all;
    border-radius: 20%;
}

.pageButton:active {
    transform: scale(0.96);
}

#previousPageDiv{
    position: absolute;
    bottom: 26%;
    left: 9%;
}

#nextPageDiv{
    position: absolute;
    bottom: 26%;
    right: 9%;
}*/

